html {
    height:100%;
}

body {
    font-family: 'Lato', sans-serif !important;
    display: flex;
    flex-direction: column;
}
.section {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    background-color: #363636 !important;
    color:white;
}


.searchform {
margin-top:3em;
display: block;
overflow: hidden;
width: 50%;
}
label, input {
vertical-align: baseline;
color: #737373;
}
label {
margin: 0.125em 0.125em 0 0;
float: right;
}
input[type="search"] {
border: 2px solid #737373;
border-width: 0 0 3px;
background-color: transparent;
font: "Open Sans", sans-serif;
padding: 0.125em 0.225em;
width: 80%;
float: left;
}
input[type="search"]:focus {
color: #E18728;
border-color: #E18728;
outline: none;
}
.price_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height:250px;
}
.price_label {
    margin-top:180px;
}
.price_label + .button {
    align-self: flex-end;
}
input[type="text"] {
    border: 2px solid #737373;
    border-width: 0 0 3px;
    background-color: transparent;
    font: "Open Sans", sans-serif;
    padding: 0.125em 0.225em;
    }
input[type="text"]:focus {
color: #E18728;
border-color: #E18728;
outline: none;
}
.inner-shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }
#ols td {
    padding:4px;
}
#ols th {
    padding:4px;
}
.title {
    text-transform: uppercase;
}
#star-svg {
    position: absolute;
    top: 40%;
    left: 70%;
    width: 180px;
    height: 180px;
    margin: -75px 0 0 -75px;
  }
.navbar {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}