{% extends 'cars/base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1>How to use</h1>
            <div id="toc">
            <h2>Table of contents</h2>
            <p>This web-application displays info about second-hand cars in three layers:</p>
            <ul>
                Category - <i>eg. SUV</i>
                <ul>
                    Model - <i>eg. Volkswagen Golf</i>
                    <ul>
                        Car - <i>eg. Volkswagen Golf with registration number B2A82293C</i>
                    </ul>
                </ul>
            </ul>
            <p>Let's start from the bottom:</p>
            <h5>Car</h5>
            <p>
                A car is an observation of an advertisement of a car with at least a specified ask price and milage. 
            </p>
            <p>
                A list of all the cars available in the database can be found at 'cars/car'.
            </p>
            <p>
                Details on a specific car can be found using the url pattern 'cars/{car_id}' where {car_id} is the primary key (id) of the car object.
                The id of the car is typically the same as article number in the URL from the site where the car is being attempted sold. 
            </p>
            <p>
                On the details page you will find most of the data which is stored on the car in the database. 
                You will also find the historical price of the specific car charted below the listed data.
                Perhaps most important for you as a user is the <strong>age</strong> of the car. This indicates how long it has been 
                since the car was first registered in the database, and the time it was updated. 
                It could very well be that reservation price (the lowest price a seller is willing to accept) falls as the age of the advertisement increases (ref: <a href="https://en.wikipedia.org/wiki/Search_theory">Search Theory</a>).
                According to <a href="https://www.smartepenger.no/bilokonomi/2216-selge-bilen-via-finn-eller-til-forhandler-innbytte-2">Smartepenger and Rødbok AS</a> the average sale time, that is the time between the listing and the sale of the car, is 110 days.
            </p>
            <h5>Model</h5>
            <p>
                A car model is the name used by a manufacturer to market a range of similar cars.
            </p>
            <p>
                A list of all the available car models in the database can be found at 'cars/model'.
            </p>
            <p>
                You can access a details page for a car model by using the url pattern 'cars/model/{name}', and replacing {name} with the name of the car model, hereafter Volkswagen Golf.
                On the front page, all the categories are also listed, linked and clickable. You can also search a car model on the front page.
            </p>
            <p>
                In a model page, you will see the OLS Regression Results of all the cars in the database which are of the SUV type.
                The data is regressed with price and the endogenous (dependent) variable, and the exogenous (independent) variable is milage (Kmstand). 
                Under the OLS regression result the regression line is plotted along with the confidence interval and the prediciton interval.
            </p>
            <article id='search-warning' class="message is-danger">
                <div class="message-header">
                    <p>Homepage search</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>
                        The search form requires <strong>exact matches</strong> of names of models or categories to return valid. 
                        The model names do not contain any special characters or whitespace. 
                    </p>
                    <p>
                        
                    </p>
                    <p>For example:</p>
                    <ul>
                            <li>Honda Civic <i class="fas fa-times"></i></li>
                            <li>HondaCivic <i class="fas fa-check"></i></li>                            
                    </ul>
                </div>
            </article>
            <h5>Category</h5>
            <p>
                You can access an analysis of a car category by using the url pattern 'cars/category/{category}', and replacing {category} with the category in question, hereafter SUV.
                On the front page, all the categories are also listed, linked and clickable.
                The data is regressed with price and the endogenous (dependent) variable, and the exogenous (independent) variables are factor(model), milage (Kmstand), and model year (Årsmodell).
                Most variable names appear in Norwegian, as the data is on Norwegian cars (<a href=#data>See Data</a>).
            </p>
            <p>
                In a category detail page, you will see much of the same as in a model details page. The OLS Regression Results are of all cars in the database which are of that category.

            </p>
            </div>
            <div id="price-calc">
            <h2 class='subtitle'>Price Calculator</h2>
            <p>
                In the price calculator page (linked in the navigation bar in the top right corner) users can input a car model (<a href="#search-warning">warning</a>) and a cars milage and receives an estimated price as output.
                Below the estimated price is the regression on which the estimation is based. This is the same regression which is displayed in models.
            </p>
            <p>
                The price calculator can be used to assess the common price of a car of model <i>m</i> and milage <i>km</i>. It can be used to locate undervalued cars (good purchases) 
                or, for those users who are looking to sell their car, the price calculator can create an anchor for a potential ask price.
            </p>
            </div>
            <div id="data">
            <h2>Data</h2>
            <p>
                The data is collected from publicly available (no user login) pages from Norwegian sites for second-hand sales using <a href="https://scrapy.org/">Scrapy</a>.
            </p>
            <article class="message is-info">
                <div class="message-header">
                    <p>Info</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    A portion of the dataset can be viewed in 'cars/data'. The viewable dataset is limited to the first 50 entries.
                </div>
                </article>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}