{% extends 'cars/base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1>Legal</h1>
            <h2>Terms of Service</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit illo provident autem a dignissimos, ullam mollitia perferendis aut quo corrupti soluta sequi repudiandae, vero libero similique alias dolore asperiores.</p>
            <h2>License</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eos id maiores ratione ab facilis, possimus doloremque incidunt officia tenetur sit unde harum quas voluptatum repellendus eius recusandae doloribus voluptas!</p>
            <h2>Purchase</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus quas dolores corrupti vero commodi alias ut repudiandae! Soluta facere quidem error harum. Tempora aliquid in inventore doloremque, rem porro.</p>
        </div>
    </div>
</section>

{% endblock %}