{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Methodology
            </h1>
            <h2 class="subtitle">
                Data
            </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur magni, eveniet dolorem repellendus libero nobis magnam ullam veniam quia expedita dignissimos laborum. Ducimus, eos porro accusantium eaque animi fuga reprehenderit.
            </p>
            <h2 class="subtitle">
                Copyright
            </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit explicabo, unde minima quas mollitia aliquid quod consequatur accusamus dignissimos atque velit at dicta reprehenderit, impedit itaque vero, ipsa perferendis in?
            </p>
        </div>
    </div>
</section>

{% endblock %}