{% extends 'cars/base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="content">
            <h1>On the data</h1>
            <h2>Data</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, animi corrupti? Et error excepturi rerum! Exercitationem aut praesentium cum facere quod non omnis itaque sed minus sapiente, tempore quo quibusdam.
            </p>
            <h2>Collection</h2>
            <p>
                The data is gathered programmatically. Duplicates are erased, and values are cleaned.
            </p>
            <h2>
                Maintanence
            </h2>
            <p>
                The database does not undergo frequent maintanence as it is running on free hosting.
            </p>
            <h2>Limitations</h2>
            
                <h5>
                    Practical limitations
                </h5>
                <p>
                    The data does not show real sale value. Estimations are all based on ask prices on a website where backroom bidding is allowed and encouraged. There is no information available in the dataset on actual selling price if a sale takes place. 
                    It is, however, a reasonable assumption that the cars are sold for less than the ask price. As such the face value price on estimation is probably overestimated. In the future, if 
                    data on price on sale is collected then that a bias can be corrected for.
                </p>
                <p>
                    The dataset is small, and may not be representative for the second-hand market.
                </p>
                <h5>
                    Theoretical limitations
                </h5>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus incidunt dolore vel quis alias maxime doloremque ad accusamus laborum expedita, deleniti odit saepe, voluptate debitis facere itaque, sint quos!
                </p>
        </div>
    </div>
</section>

{% endblock %}