{% extends 'cars/base.html' %}

{% block content %}
{% load static from staticfiles %}
<section class="section">
        <div class="container">
                <div class="content">
                        <form class="price_form group" method="GET">
                                <div class="field">
                                        <label class="label">Model Name<i class="fas fa-asterisk is-size-7" style='color:crimson;'></i></label>
                                        <div class="control">
                                                {{form.model}}
                                        </div>
                                </div>
                                <div class="field">
                                        <label class="label">Milage<i class="fas fa-asterisk is-size-7" style='color:crimson;'></i></label>
                                        <div class="control">
                                               {{form.km}} 
                                        </div>
                                </div>
                                <div class="field">
                                        <label class="label">Model Year</label>
                                        <div class="control">
                                                {{form.year}}
                                        </div>
                                </div>
                                <div class="field">
                                        <div class="control">
                                                <input class="button is-light" type="submit" value="Submit input">
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</section>

<section class="section">
        <div class="container">
                <div class="content">
                        <h1 class="title" style="text-align: center">
                                {{estimated_price}}
                        </h1>
                </div>
        </div>
</section>

<section class="section">
        <div class="container">
                {% if summary %}
                        <div class="content" id="ols">
                        {% for table in summary %}
                                {{table|safe}}
                        {% endfor %}
                        </div>
                {% else %}
                        {{df|safe}}
                {% endif %}
        </div>
</section>

{% endblock %}